* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: NewYork;
  src: url("../fonts/New-York/NewYork-PERSONAL-USE.otf");
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-VariableFont_slnt_wght.ttf");
}

/* * ---------- general style ---------- */

html {
  background-color: #272422;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  width: 100vw;
}

h1,
h2,
h3,
h4,
.blog-headlines {
  font-family: NewYork, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 20rem;
}

h2 {
  font-size: 10rem;
}

h3 {
  font-size: 6rem;
}

h4 {
  font-size: 4rem;
}

p {
  font-size: 1.6rem;
  color: #999;
}

button {
  font-size: 1.5rem;
  width: 19rem;
  height: 9rem;
  padding: 0 3.3rem;
  color: #fff;
  background-color: #272422;
  border: 0.1rem solid #3c3636;
  border-radius: 8.4rem;
}

.menu li {
  font-size: 1.3rem;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

/* * ---------- header style ---------- */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8.3rem;
  padding: 0 5rem;
}

.menu {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.menu li:first-child {
  color: #e8bf96;
}

/* * ---------- home section style ---------- */

.home {
  background-repeat: no-repeat;
  background-position: center;
}

.home-content {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 23.3% 45.7% 31%;
  justify-items: center;
  position: relative;
  padding-bottom: 20%;
}

/* * ---------- home left side ---------- */

.home-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 15rem;
}

.home-left-img {
  margin-top: 95%;
}

.home-left-text-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-left-text p:first-of-type {
  padding-top: 1.2rem;
}

.home-left-text p {
  font-size: 2.3rem;
  color: #fff;
}

.stars-icon {
  width: 5rem;
  height: 6.3rem;
}

/* * ---------- home right side ---------- */

.home-video-wrapper {
  width: auto;
  height: 60%;
  overflow: hidden;
}

.home video {
  height: auto;
}

.home-container {
  display: flex;
  justify-content: space-between;
}

.home-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15rem;
}

.home-right p {
  width: 55%;
  line-height: 155%;
  word-wrap: break-word;
}

.home span {
  color: #fff;
}

/* * ---------- home middle ---------- */
.home-middle {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  width: 70%;
  margin-left: 15%;
  margin-top: 10rem;
}

.home-middle-img {
  padding-top: 4rem;
}

.stripes-icon {
  width: 4rem;
  height: 3.4rem;
}

.img-icon-flex {
  display: flex;
}

.home-background-arrow {
  background-repeat: no-repeat;
  background-position: right;
}

.home-middle-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  z-index: 1;
}

.play-icon {
  width: 10rem;
  height: 10rem;
}

.home-middle span {
  color: #e8bf96;
}

/* * ---------- about section ---------- */

.about-content {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-top: 1px solid #3f3a36;
  border-bottom: 1px solid #3f3a36;
  padding: 10rem 0 15rem 0;
}

.about-content h2 {
  width: 65%;
}

.about-content p {
  font-size: 1.8rem;
  line-height: 155%;
  width: 50%;
  margin-bottom: 6rem;
}

/* * ---------- portfolio section ---------- */

.portfolio-content {
  width: 80vw;
  margin: 0 auto;
}

.portfolio-content h2 {
  width: 33%;
  padding: 10rem 0 3rem 0;
}

.portfolio-top {
  display: flex;
  justify-content: space-between;
}

.portfolio-line {
  width: 20rem;
  border-top: 0.1rem solid #fff;
  margin: 0 5% 0 10%;
}

.portfolio-top p {
  width: 50%;
}

.portfolio-top-left {
  display: flex;
}

/* * ---------- video section ---------- */

.video-wrapper {
  width: 100vw;
  height: 80rem;
  overflow: hidden;
}

.video video {
  width: 100%;
  height: auto;
}
