* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: NewYork;
  src: url("../fonts/New-York/NewYork-PERSONAL-USE.otf");
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-VariableFont_slnt_wght.ttf");
}

/* * ---------- general style ---------- */

html {
  background-color: #272422;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  width: 100vw;
}

h1,
h2,
h3,
h4,
.blog-headlines {
  font-family: NewYork, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 20rem;
}

h2 {
  font-size: 10rem;
}

h3 {
  font-size: 6rem;
}

h4 {
  font-size: 4rem;
}

p {
  font-size: 1.6rem;
  color: #999;
}

button {
  font-size: 1.5rem;
  width: 19rem;
  height: 9rem;
  padding: 0 3.3rem;
  color: #fff;
  background-color: #272422;
  border: 0.1rem solid #3c3636;
  border-radius: 8.4rem;
  white-space: nowrap;
  cursor: pointer;
}

.menu li {
  font-size: 1.3rem;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.home-content,
.about-content,
.portfolio-content,
.service-top,
.service-content,
.blogs-content,
.award-content,
.contact-top,
.contact-content {
  width: 70vw;
}

/* * ---------- header style ---------- */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8.3rem;
  padding: 0 5rem;
  position: fixed;
  width: 100vw;
  background-color: #272422;
  border: 0.1rem solid #333337;
  z-index: 2;
}

.menu {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.menu li:first-child {
  color: #e8bf96;
}

/* * ---------- home section style ---------- */

.home {
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.home-content {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 23.3% 45.7% 31%;
  justify-items: center;
  position: relative;
  padding-bottom: 10%;
}

.home-background-arrow {
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  margin-top: 25rem;
  width: 100%;
  height: 100%;
}

/* * ---------- home left side ---------- */

.home-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 15rem;
}

.home-left-img {
  margin-top: 95%;
  width: 100%;
}

.home-left-text-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-left-text p:first-of-type {
  padding-top: 1.2rem;
}

.home-left-text p {
  font-size: 2.3rem;
  color: #fff;
}

.stars-icon {
  width: 5rem;
  height: 6.3rem;
}

/* * ---------- home right side ---------- */

.home-video-wrapper {
  height: 50%;
  overflow: hidden;
  margin-top: 20%;
}

.home video {
  width: 100%;
  height: auto;
}

.home-container {
  display: flex;
  justify-content: space-between;
}

.home-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15rem;
}

.home-right p {
  width: 55%;
  line-height: 155%;
  word-wrap: break-word;
}

.home span {
  color: #fff;
}

/* * ---------- home middle ---------- */
.home-middle {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  width: 70%;
  margin-left: 15%;
  margin-top: 15rem;
}

.home-middle-img {
  padding-top: 4rem;
}

.stripes-icon {
  width: 4rem;
  height: 3.4rem;
}

.img-icon-flex {
  display: flex;
}

.home-middle-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  z-index: 1;
}

.play-icon {
  width: 10rem;
  height: 10rem;
}

.home-middle span {
  color: #e8bf96;
}

/* * ---------- about section ---------- */

.about-content {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-top: 1px solid #3f3a36;
  border-bottom: 1px solid #3f3a36;
  padding: 10rem 0 15rem 0;
}

.about-content h2 {
  width: 65%;
}

.about-content p {
  font-size: 1.8rem;
  line-height: 155%;
  width: 50%;
  margin-bottom: 6rem;
}

/* * ---------- portfolio section ---------- */

/* .......... headline & topper */

.portfolio-content {
  margin: 0 auto;
}

.portfolio-content h2 {
  width: 33%;
  padding: 10rem 0 3rem 0;
}

.portfolio-top {
  display: flex;
  justify-content: space-between;
}

.portfolio-line {
  width: 20rem;
  border-top: 0.1rem solid #fff;
  margin: 0 5% 0 10%;
}

.portfolio-top p {
  width: 45%;
}

.portfolio-top-left {
  display: flex;
}

/* .......... wrapper */

.portfolio-wrapper-one,
.portfolio-wrapper-two {
  height: 100rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portfolio-wrapper-one {
  padding-top: 6rem;
  margin-bottom: 25rem;
}

.portfolio-wrapper-two {
  padding-bottom: 14rem;
}

/*  ..........article  */

.portfolio article {
  background-position: center;
  background-size: cover;
}

.development,
.branding {
  height: 90%;
  width: 50%;
  /* position: relative; */
}

.creative,
.webdesign {
  height: 62%;
  width: 33%;
  margin-top: 20%;
}

.portfolio article p {
  font-size: 2rem;
  color: #fff;
}

.development div,
.branding div {
  width: 40%;
  margin: 10% 0 0 10%;
  /* display: none; */
  /* position: absolute; */
}

.creative div,
.webdesign div {
  width: 40%;
  margin: 20% 0 0 10%;
}

.development:hover .hover-text {
  display: 1;
}

/* # hover effect & richtiger bereich kleine bilder fehlen noch */

/* # bildgröße in relative einheiten ändern */

/* * ---------- service section ---------- */

.service-top {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 4.3rem;
  padding-bottom: 1.7rem;
  border-bottom: 0.1rem solid #3f3a36;
}

.service-top p:nth-child(1),
.service-top p:nth-child(3) {
  color: #fff;
}
.service-top p:nth-child(2) {
  font-size: 1.3rem;
}

.service-content {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  padding-top: 10%;
  border-bottom: 1px solid #3f3a36;
}

.images {
  position: relative;
  display: inline-block;
}

.images img {
  position: absolute;
}

.left-img-wrapper img {
  width: 33rem;
  height: 45.2rem;
  left: 0;
  top: 25%;
}

.right-img-wrapper img {
  width: 22rem;
  height: 28.5rem;
  right: 0;
}

.service-types {
  text-align: center;
  display: grid;
  gap: 10%;
  margin-bottom: 50%;
}
/* # hover effekte bilder und font color fehlen noch */

/* # bildgröße in relative einheiten ändern */

/* * ---------- blogs section ---------- */

/* .......... headline & topper */

.blogs-content {
  margin: 0 auto 10% auto;
}

.blogs-content h2 {
  width: 40%;
  padding: 10rem 0 3rem 0;
}

.blogs-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.blogs-line {
  width: 20rem;
  border-top: 0.1rem solid #fff;
  margin: 0 5% 0 10%;
}

.blogs-top p {
  width: 45%;
}
.blogs-top a {
  height: 9rem;
}

.blogs-top-left {
  display: flex;
}

.blogs-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.blogs img {
  max-width: 100%;
  margin-bottom: 5%;
}

.blogs p {
  margin-bottom: 5%;
}

.blog-headlines {
  font-size: 2.2rem;
  color: #fff;
}

/* * ---------- video section ---------- */

.video-wrapper {
  width: 100vw;
  height: 80rem;
  overflow: hidden;
  position: relative;
}

.video video {
  width: 100%;
  height: auto;
  position: absolute;
}

.video-text {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 40%;
  right: 5%;
  bottom: 5%;
}

/* # position video text (h3 mit clamp??) */

.video h3 {
  text-align: end;
}

.video p {
  color: #fff;
  width: 80%;
}

/* # richtiger videoausschnitt */

/* * ---------- award section ---------- */

.award {
  margin: 10% auto;
}

.award-content {
  margin: 0 auto;
}

.award-text {
  display: flex;
  justify-content: space-around;
}

.award h2 {
  width: 70%;
  margin-bottom: 5rem;
}

.award-text p:first-child {
  width: 30%;
}

.award-logo-wrapper {
  width: 20rem;
}

.award span {
  font-size: 1.9rem;
  color: #fff;
  line-height: 2.7rem;
}

.award-logo {
  margin-bottom: 2rem;
}

/* * ---------- contact section ---------- */

.contact-top {
  margin: 0 auto;
  border-bottom: 0.1rem solid #3f3a36;
  height: 4.3rem;
  padding-bottom: 1.7rem;
  font-size: 1.8rem;
}

.contact-content {
  margin: 0 auto;
}

.contact-text {
  width: 60%;
  margin: 8rem auto 15rem auto;
}

.contact h2 {
  margin-bottom: 5rem;
}

/* * ---------- footer ---------- */

footer {
  height: 30rem;
  padding: 4%;
  border-top: 0.1rem solid #3f3a36;
}

.footer-container {
  width: 90%;
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr 2.2fr 4.5fr;
  gap: 12%;
}

footer img {
  height: auto;
}

.links-wrapper-one,
.links-wrapper-two {
  width: 10rem;
  font-size: 1.8rem;
  line-height: 180%;
}

.social-links-wrapper a {
  font-size: 1.7rem;
}

.social-links-wrapper {
  display: grid;
  width: 20rem;
  grid-template-rows: repeat(5, 1fr);
}

.social-links-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.social-line {
  width: 50%;
  color: #999;
}

fieldset {
  border-style: none;
}

.email-submit {
  width: 42rem;
}

#email {
  width: 42rem;
  background-color: #272422;
  border-style: none;
}

.mail {
  border-bottom: 0.1rem solid #3c3636;
  padding: 1rem 0;
  margin-bottom: 3rem;
}

#submit {
  font-size: 1.5rem;
  width: 14rem;
  height: 6.5rem;
  color: #fff;
  background-color: #272422;
  border: 0.1rem solid #3c3636;
  border-radius: 8.4rem;
  white-space: nowrap;
  cursor: pointer;
}
